RewriteEngine On
RewriteRule ^default 404.php [NC,L]
RewriteRule ^abbreviation/([0-9-]+)/?$ abbreviation.php?page=$1 [L,QSA]
RewriteRule ^about about.php [NC,L]
RewriteRule ^accessModifiers accessModifiers.php [NC,L]
RewriteRule ^alphabetPattern alphabetPattern.php [NC,L]
RewriteRule ^basicProgramming basicProgramming.php [NC,L]
RewriteRule ^ccc ccc.php [NC,L]
RewriteRule ^cjqa cjqa.php [NC,L]
RewriteRule ^collections collections.php [NC,L]
RewriteRule ^contact contact.php [NC,L]
RewriteRule ^dataStructures dataStructures.php [NC,L]
RewriteRule ^dataType dataType.php [NC,L]
RewriteRule ^dbHome dbHome.php [NC,L]
RewriteRule ^declarations declarations.php [NC,L]
RewriteRule ^designPattern designPattern.php [NC,L]
RewriteRule ^development development.php [NC,L]
RewriteRule ^ejb ejb.php [NC,L]
RewriteRule ^empStreams empStreams.php [NC,L]
RewriteRule ^exception exception.php [NC,L]
RewriteRule ^geography geography.php [NC,L]
RewriteRule ^gitRepo gitRepo.php [NC,L]
RewriteRule ^gkHome gkHome.php [NC,L]
RewriteRule ^gkmcq gkmcq.php [NC,L]
RewriteRule ^htmlHome htmlHome.php [NC,L]
RewriteRule ^home index.php [NC,L]
RewriteRule ^indiaHistory indiaHistory.php [NC,L]
RewriteRule ^indianActs indianActs.php [NC,L]
RewriteRule ^innerClass innerClass.php [NC,L]
RewriteRule ^javaHistory javaHistory.php [NC,L]
RewriteRule ^javamail javamail.php [NC,L]
RewriteRule ^jdbc jdbc.php [NC,L]
RewriteRule ^jenkins jenkins.php [NC,L]
RewriteRule ^jit jit.php [NC,L]
RewriteRule ^joinUs joinUs.php [NC,L]
RewriteRule ^jpa jpa.php [NC,L]
RewriteRule ^jsp jsp.php [NC,L]
RewriteRule ^jsqaa jsqaa.php [NC,L]
RewriteRule ^jstHome jstHome.php [NC,L]
RewriteRule ^lombok lombok.php?page=$1 [L,QSA]
RewriteRule ^maven maven.php [NC,L]
RewriteRule ^mongo mongo.php [NC,L]
RewriteRule ^mysql mysql.php [NC,L]
RewriteRule ^newUser newUser.php [NC,L]
RewriteRule ^nonAccessModifiers nonAccessModifiers.php [NC,L]
RewriteRule ^numberPattern numberPattern.php [NC,L]
RewriteRule ^pcf pcf.php [NC,L]
RewriteRule ^projects projects.php [NC,L]
RewriteRule ^pyBasic pyBasic.php [NC,L]
RewriteRule ^pyBuildIn pyBuildIn.php [NC,L]
RewriteRule ^pyHome pyHome.php [NC,L]
RewriteRule ^pyqna pyqna.php [NC,L]
RewriteRule ^pyselftest pyselftest.php [NC,L]
RewriteRule ^pyTkinter pyTkinter.php [NC,L]
RewriteRule ^qesans qesans.php [NC,L]
RewriteRule ^railway/([0-9-]+)/?$ railway.php?page=$1 [L,QSA]
RewriteRule ^restapi restapi.php [NC,L]
RewriteRule ^selflogical selflogical.php [NC,L]
RewriteRule ^selftest selftest.php [NC,L]
RewriteRule ^servlets servlets.php [NC,L]
RewriteRule ^solidples solidples.php [NC,L]
RewriteRule ^spring spring.php [NC,L]
RewriteRule ^sql sql.php [NC,L]
RewriteRule ^sqlq sqlq.php [NC,L]
RewriteRule ^stateut stateut.php [NC,L]
RewriteRule ^stream stream.php [NC,L]
RewriteRule ^string string.php [NC,L]
RewriteRule ^training training.php [NC,L]
RewriteRule ^twoMins twoMins.php [NC,L]
RewriteRule ^variables variables.php [NC,L]
RewriteRule ^versions versions.php [NC,L]
RewriteRule ^worldHistory worldHistory.php [NC,L]